{% extends 'main/base_template.html' %}

{% block title %}
Создание записи о товаре
{% endblock %}

{% block content %}
    <h1>Создать запись о товаре</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.name }}<br>
        {{ form.category }}<br>
        {{ form.amount }}<br>
        {{ form.shelflifeday }}<br>
        {{ form.option }}<br>
        {{ form.foldid }}<br>
        <button type="submit" class="btn btn-success">Добавить</button>
        <div class="alert alert-danger">
            <span>{{ error }}</span>
        </div>
        <a href="{% url 'items_home'%}" class="btn btn-warning">Назад</a>
    </form>
{% endblock %}

{% block tomain %}
  <footer class="footer">
    <p align = "middle" class = "my-0 me-md-auto fw-normal p-2 text-white bg-dark align-items-center"><a href="{% url 'home' %}"><font color="white"><big>Главная</big></font></a></p>
    </footer>
{% endblock %}