{% extends 'main/base_template.html' %}
<!--получим данные из словаря по файлу views-->
{% block title %}
Инструкция
{% endblock %}

{% block content %}


<div class="d-md-flex flex-md-equal w-500 my-md-3 ps-md-3">
    <div style="width:100%" class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Следуя простым шагам, вы сможете быстро освоится в данном веб-приложении</h2>
        <p class="lead" >Инструкция содержит описание полей и требований, предъявляемых к корректности вводимых данных, описание возможностей, схем и механизмов переходов по веб-страницам.</p>
        </div>
      </div>
    </div>
<div class="d-md-flex flex-md-equal w-500 my-md-3 ps-md-3">
    <div style="width:100%" class="bg-light me-md-3 pt-3 px-3 pt-md-2 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Главная страница</h2>
        <p class="lead" align="left" ><strong>На странице реализованы возможности:</strong>
        <UL >
					 <LI align="left">Переход к главной странице модели "Склады";
            	   <LI align="left">Переход к главной странице модели "Товары";
                   <LI align="left">Вывод сводного отчета, содержащего связанные данные из двух моделей в формате: склад и ниже - список товаров и их некоторых характеристик (для каждого склада).
         	     </UL>
          </p>
        </div>
      </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div style="width:100%" class="bg-dark me-md-3 pt-3 px-3 pt-md-2 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Склады</h2>
          <p class="lead" align="left" ><strong>На главной странице реализованы возможности:</strong>
        <UL >
					 <LI align="left">Создание записи о новом складе;
            	   <LI align="left">Переход к отчёту, который содержит полные данные о складах;
                   <LI align="left">Просмотр списка складов с возможностью перехода к дополнительной информации о выбранном элементе.
         	     </UL>
          </p>
          <hr>
        <p class="text-left lead"><strong>Правила ввода данных:</strong></p>
        <table class="table table-striped text-white text-left">
          <thead>
                <tr>
                   <th scope="col"><big>Поле</big></th>
                    <th scope="col"><big>Пояснение (назначение)</big></th>
                    <th scope="col"><big>Тип данных</big></th>
                    <th scope="col"><big>Правила ввода</big></th>
                </tr>
              </thead>
              <tbody>
                     <tr>
                       <th scope="row" >Название склада</th>
                         <td>Предназначено для указания названия склада</td>
                        <td>Текст</td>
                        <td>Значение должно быть уникальным</td>
                     </tr>
                     <tr>
                       <th scope="row" >Номер платформы</th>
                         <td>Предназначено для указания номера платформы разгрузки товаров на склад</td>
                        <td>Целое число</td>
                        <td>Значение должно быть неотрицательным числом</td>
                     </tr>
                    <tr>
                       <th scope="row" >ФИО ответсвенного</th>
                        <td>Предназначено для указания ФИО ответственного за склад</td>
                        <td>Текст</td>
                        <td>Необязательное поле</td>
                     </tr>
                    <tr>
                       <th scope="row" >Адрес</th>
                        <td>Предназначено для указания адреса склада</td>
                        <td>Текст</td>
                        <td>Необязательное поле</td>
                     </tr>
                     <tr>
                       <th scope="row" >Площадь</th>
                         <td>Предназначено для указания площади склада</td>
                        <td>Целое число</td>
                        <td>Значение должно быть неотрицательным числом</td>
                     </tr>
              </tbody>
        </table>
      </div>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div style="width:100%" class="bg-light me-md-3 pt-3 px-3 pt-md-2 px-md-5 text-center text-dark overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Товары</h2>
          <p class="lead" align="left" ><strong>На главной странице реализованы возможности:</strong>
        <UL >
					 <LI align="left">Создание записи о новом товаре;
            	   <LI align="left">Переход к отчёту, который содержит полные данные о товарах;
                   <LI align="left">Просмотр списка товаров с возможностью перехода к дополнительной информации о выбранном элементе.
         	     </UL>
          </p>
          <hr>
        <p class="text-left lead"><strong>Правила ввода данных:</strong></p>
        <table class="table table-striped text-dark text-left">
          <thead>
                <tr>
                   <th scope="col"><big>Поле</big></th>
                    <th scope="col"><big>Пояснение (назначение)</big></th>
                    <th scope="col"><big>Тип данных</big></th>
                    <th scope="col"><big>Правила ввода</big></th>
                </tr>
              </thead>
              <tbody>
                     <tr>
                       <th scope="row" >Наименование товара</th>
                         <td>Предназначено для указания наименования товара</td>
                        <td>Текст</td>
                        <td>Значение должно быть уникальным</td>
                     </tr>
                     <tr>
                       <th scope="row" >Категория</th>
                         <td>Предназначено для указания категории товара (из списка категорий: Мебель, Стройматериалы (Строительные материалы), Инструменты (Инструменты для выполнения строительных,отделочных работ), Техника (Технические средства, машины для строительных, отделочных работ))</td>
                        <td>Текст</td>
                        <td>Значение должно быть выбрано из предоставленного списка</td>
                     </tr>
                    <tr>
                       <th scope="row" >Количество</th>
                        <td>Предназначено для указания количества товара</td>
                        <td>Целое число</td>
                        <td>Значение должно быть неотрицательным числом</td>
                     </tr>
                    <tr>
                       <th scope="row" >Дней хранения</th>
                        <td>Предназначено для указания срока, в течении которого товар будет хранится на складе, в днях</td>
                        <td>Целое число</td>
                        <td>Значение должно быть неотрицательным числом</td>
                     </tr>
                     <tr>
                       <th scope="row" >Описание</th>
                         <td>Предназначено для указания описания к товару</td>
                        <td>Текст</td>
                        <td>Необязательное поле</td>
                     </tr>
                    <tr>
                       <th scope="row" >Склад</th>
                         <td>Предназначено для указания склада (из списка существующих складов), на котором хранится товар (на одном складе может быть много товаров)</td>
                        <td>Текст</td>
                        <td>Значение должно быть выбрано из предоставленного списка</td>
                     </tr>
                    <tr>
                       <th scope="row" >Модуль склада</th>
                        <td>Предназначено для указания модуля склада (иерархия места товара на складе: <i>модуль-секция-ряд-место</i>)(возможные значения: 'А', 'Б', ..., 'З')</td>
                        <td>Текст</td>
                        <td>Необязательное поле. Значение должно быть выбрано из предоставленного списка</td>
                     </tr>
                    <tr>
                       <th scope="row" >Секция модуля склада</th>
                        <td>Предназначено для указания секции модуля склада (возможные значения: 'S1', 'S2', ..., 'S16')</td>
                        <td>Текст</td>
                        <td>Необязательное поле. Значение должно быть выбрано из предоставленного списка</td>
                     </tr>
                     <tr>
                       <th scope="row" >Ряд секции</th>
                        <td>Предназначено для указания ряда секции модуля склада (возможные значения: '1', '2', ..., '32')</td>
                        <td>Текст</td>
                        <td>Необязательное поле. Значение должно быть выбрано из предоставленного списка</td>
                     </tr>
                    <tr>
                       <th scope="row" >Место в ряду</th>
                        <td>Предназначено для указания место в ряду секции модуля склада (возможные значения: 'M1', 'M2', ..., 'M128')</td>
                        <td>Текст</td>
                        <td>Необязательное поле. Значение должно быть выбрано из предоставленного списка</td>

                     </tr>
              </tbody>
        </table>
      </div>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-500 my-md-3 ps-md-3">
    <div style="width:100%" class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Детальный просмотр элемента</h2>
          <p class="lead" align="left" ><strong>Просмотр "страницы" элемента модели, которая содержит:</strong>
        <UL >
					 <LI align="left">Все параметры элемента (если параметр - необязательный для указания и не был заполнен при создании или редактировании - напротив него будет выведено "Данные не указаны");
            	   <LI align="left">Кнопка "Удалить" которая переведет на страницу удаления текущего элемента (подробнее в этом пункте);
                   <LI align="left">Кнопка "Редактировать" которая переведет на страницу изменения параметров текущего элемента (подробнее в этом пункте);
                   </UL>
          </p>
          <hr>

      </div>
    </div>
</div>




<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div style="width:100%" class="bg-light me-md-3 pt-3 px-3 pt-md-2 px-md-5 text-center text-dark overflow-hidden">
      <div class="my-3 py-3">

        <h2 class="display-5">Создание, редактирование и удаление записей</h2>
          <p class="lead text-left" ><strong>Для каждой модели данных (склады и товары) реализованы функции создания, редактирования и удаления записей:</strong></p>
          <p class="lead text-left" >Создание доступно по кнопке на соответствующей главной странице модели данных.</p>
          <UL >
          <LI align="left">После ввода данных в все необходимые для заполнения поля соответвующей модели, нажать кнопку "Добавить". После этого будет добавлена новая запись.
            </UL>
          <p class="lead text-left" >Редактирование и удаление доступно по кнопкам в детальном описании элементов моделей данных (на главной страницы модели данных, в списке всех элементов по нажатию на кнопку "Подробнее" в соответсвующей строке элемента)</p>
          <p class="lead text-left" >Редактирование:
          <UL >
          <LI align="left">После редактирования данных нажать кнопку "Обновить". После этого выбранная запись будет обновлена.
            </UL>
          <p class="lead text-left" >Удаление:
          <UL >
          <LI align="left">По умолчанию ползователь согласен на удаление выбранных данных (галочкой отмечен пункт "Я подтверждаю, что хочу удалить запись.", если галочка не стоит, пользователь удалить запись не может). После нажатия на кнопку "Удалить" и выбранная запись будет удалена.
            </UL>
        </div>
      </div>
</div>

{% endblock %}

{% block tomain %}
  <footer class="footer">
    <p align = "middle" class = "my-0 me-md-auto fw-normal p-2 text-white bg-dark align-items-center"><a href="{% url 'home' %}"><font color="white"><big>Главная</big></font></a></p>
    </footer>
{% endblock %}