{% extends 'main/base_template.html' %}
<!--получим данные из словаря по файлу views-->
{% block title %}
{{title}}
{% endblock %}

{% block content %}
    {% if warehouses %}

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Название склада</th>
              <th scope="col">Номер платформы</th>
              <th scope="col">Ответсвенный</th>
                <th scope="col">Адрес</th>
              <th scope="col">Площадь склада(м2)</th>
                <th scope="col"></th>

            </tr>
          </thead>
          <tbody>

                {% for element in warehouses %}
                 <tr>
                        <th scope="row" > {{ element.name }}</th>
                        <td>{{ element.parknumber }} </td>
                        <td>{{ element.responsible }}</td>
                     <td>{{ element.adress }} </td>
                        <td>{{ element.square }}</td>
                        <td><a href="{% url 'fold-detail' element.id %}" class="btn btn-warning">Подробнее</a></td>
                  </tr>
                {% endfor %}

          </tbody>
        </table>
    {% else %}
            <p>Данные отсутвуют!</p>
            {% endif %}
{% endblock %}

{% block tomain %}
  <footer class="footer">
    <p align = "middle" class = "my-0 me-md-auto fw-normal p-2 text-white bg-dark align-items-center"><a href="{% url 'home' %}"><font color="white"><big>Главная</big></font></a></p>
    </footer>
{% endblock %}